{{#md-collapsible icon=item title=item.title active=(eq item.id activeItem)}}
  {{#if editing}}
    {{stack-manager model=item edit=(action 'edit')}}
  {{else}}

    <div class="row">

      {{#if item.dockerFile}}

        <div class="text">
          This stack uses the <span>{{item.dockerFile.title}}</span> docker file from the database.
        </div>
      {{/if}}
      {{#if item.location}}

        <div class="text">
          The original stack is located at <a href= {{item.location}} target="_blank">{{item.location}}</a>.
        </div>
      {{/if}}

      <div class="text">
        It has {{item.numberOfPipelines}} connected pipelines.
      </div>
    </div>

    <div class="row actions">
      {{md-btn text="edit" action="edit"}}

      <div class="btn" {{action "launchPipeline" item}}>Launch</div>
      {{link-to-external "Edit docker compose file" 'stack' item.dockerFile.id class='btn'}}
    </div>
  {{/if}}
{{/md-collapsible}}
