<div class="service">
  <div class="row">
    <div class="col s2">
      {{service.name}} /<strong>{{service.status.title}}</strong>
    </div>

    {{!-- Scaling buttons --}}
    <div class="col s1 line-input scaling">
      {{md-btn class="btn secondary" action='decreaseServiceScaling' isDisabled=disableServiceActionButtons text=" - "}} {{service.scaling}} {{md-btn class="btn secondary" action='increaseServiceScaling' isDisabled=disableServiceActionButtons text=" + "}}
    </div>

    {{!-- Single container action buttons --}}
    {{!-- Up button --}}
    {{#if advancedMode}}
      <div class="col s1">
        {{md-btn class="btn secondary" action='pipelineServiceUp' isDisabled=(or (eq (await service.status.title) 'started') (eq (await service.status.title) 'starting') (eq (await service.status.title) 'up')) text="up"}}
      </div>
    {{/if}}

    {{!-- Start button --}}
    <div class="col s1 addMargin">
      {{md-btn class="btn secondary" action='pipelineServiceStart' isDisabled=(or (eq (await service.status.title) 'started') (eq (await service.status.title) 'starting') (eq (await service.status.title) 'up')) text="start"}}
    </div>

    {{!-- Stop button --}}
    <div class="col s1 addMargin">
      {{md-btn class="btn secondary" action='pipelineServiceStop' isDisabled=(and (not-eq (await service.status.title) 'started') (not-eq (await service.status.title) 'starting') (not-eq (await service.status.title) 'up')) text="stop"}}
    </div>

    {{!-- Restart button --}}
    <div class="col s1 addMargin">
      {{#if service.restarting}}
        Restarting...
      {{else}}
        {{md-btn class="btn secondary" action='pipelineServiceRestart' isDisabled=disableServiceActionButtons text="restart"}}
      {{/if}}
    </div>

    {{!-- Log toggle --}}
    <div class="col s1 log" title="Bug report">
      <div class="btn secondary {{if disableServiceActionButtons 'disabled'}}"><i class="material-icons">bug_report</i></div>
    </div>

    <div class="col s1">
      {{md-check id=(concat "modal-" service.name "-stats") name="Stats" checked=getServiceStats}}
    </div>
  </div>

  {{#if cpuServiceStats}}
    <div class="row stats">
      <div class="col s2 push-s2">
        <strong>% CPU: </strong>
        {{round-two-decimals (get-property (get-head cpuServiceStats.stats) 'cpu-percentage')}}
      </div>

      <div class="col s3 push-s2">
        <strong>Mem Usage/Limit: </strong>
          {{round-two-decimals (byte-to-megabyte (get-property (get-head cpuServiceStats.stats) 'mem-usage'))}} <strong>MB</strong>/
          {{round-two-decimals (byte-to-gigabyte (get-property (get-head cpuServiceStats.stats) 'mem-limit'))}} <strong>GB</strong>
      </div>
      <div class="col s2 push-s2">
        <strong>% Memory: </strong> {{round-two-decimals (get-property (get-head cpuServiceStats.stats) 'mem-percentage')}}
      </div>
    </div>
  {{/if}}
  {{!-- Logging information about the container --}}
  {{#if service.showLogs}}
    <div class="log-container">
      <div class="btn" {{action "refreshLogs"}}>
        {{#if service.refreshingLogs}}...{{else}}<i class="material-icons">refresh</i>{{/if}}
      </div>
      <div class="logs">
        {{service.logs}}
      </div>
    </div>
  {{/if}}
</div>
