<div class="pipelines--show">
  <span>
    <div class="row status">
      Current status: <strong>{{pipeline.status.title}}</strong>
      <span class='info-status' {{action 'showInfoDialog'}}>
        <i class="tiny material-icons" style="padding-left: 10px">info_outline</i>
      </span>
    </div>
  </span>
  {{#if pipeline.requestedStatus}}
    <div class="row status">
      {{#if (not-eq pipeline.status.title pipeline.requestedStatus.title)}}
        Requested status: <strong>{{pipeline.requestedStatus.title}}</strong>
      {{/if}}
    </div>
  {{/if}}

  {{!-- Pipeline Action buttons --}}
  <div class="actions">
    {{md-btn text="up" action="swarmUp" isDisabled=(or (eq (await pipeline.status.title) 'up') (eq (await pipeline.status.title) 'starting'))}}

    {{#if isAdvancedMode}}
      {{md-btn text="start" action="swarmStart" isDisabled=(or (eq (await pipeline.status.title) 'up') (eq (await pipeline.status.title) 'starting'))}}
    {{/if}}

    {{md-btn text="stop" action="swarmStop" isDisabled=(or (eq (await pipeline.status.title) 'stopped') (eq (await pipeline.status.title) 'down'))}}
    {{md-btn text="down" action="swarmDown" isDisabled=(eq (await pipeline.status.title) 'down')}}
    {{md-btn text="restart" action="swarmRestart" isDisabled=(and (not-eq (await pipeline.status.title) 'up') (not-eq (await pipeline.status.title) 'starting') (not-eq (await pipeline.status.title) 'started'))}}

    {{!-- Toggle advanced mode button  --}}
    <label>
      {{md-check name="Toggle Advanced Mode" checked=isAdvancedMode}}
    </label>

    {{#if pipeline.actionCount}}
      {{pipeline.actionCount}} actions pending...
    {{/if}}
  </div>
  <div class="delete">
    <div class="btn delete" {{action "confirmDeletion"}} title='delete forever'>
      <i class="material-icons">delete_forever</i>
    </div>
  </div>
  {{#if pipeline.stack.location}}
    <div class="update" title="update from git and repull all images">
      {{md-btn text="update from git" action="updatePipeline" }}
    </div>
  {{/if}}

  {{!-- List of containers conforming the pipeline --}}
  <div class="services">
    <div>
      <h4 class="service-header">Services</h4>
      <h5 class="service-header-sub">Stats</h5>
    </div>

    {{#each pipeline.services as |service|}}
      {{pipeline-service service=service
                         advancedMode=isAdvancedMode
                         isActive=isActive
                         handleDockerStats=(action 'handleDockerStats')
                         cpuServiceStats=(get-cpu-stats cpuStatsArray pipeline service)}}
    {{/each}}
  </div>
</div>

{{#if showInfoDialog}}
  {{confirmation-dialog buttonText='Got it' text=infoText closeDialog=(action 'closeInfoDialog') action='closeInfoDialog' closeInfoDialog=(action 'closeInfoDialog') dialogClasses='info-modal'}}
{{/if}}

{{#if showDialog}}
  {{confirmation-dialog buttonText='Delete' text="Delete this pipeline?" closeDialog=(action 'closeDialog') action='delete' delete=(action 'delete')}}
{{/if}}
