<div class="repositories--show">
  <div class= {{inputRequiredTitleCssClasses}}>
    {{md-input label="Name of stack" value=model.title}}
  </div>
  {{smart-icon model=model editing=true}}

  <div>
    {{#unless model.dockerFile}}
      {{md-input label="Git web URL for a repository with a docker-compose.yml file" value=model.location}}
      {{else}}
        <div class='location'>
          <label>Location</label>
          <div class="text">
            The original stack is located at <a href= {{model.location}} target="_blank">{{model.location}}</a>.
          </div>
        </div>
    {{/unless}}
  </div>

  <div class='docker-search'>
    <div class= {{inputRequiredDockerFileCssClasses}}>
      <label>Docker Compose File</label> {{docker-compose-search stackDockerFile=newDockerFile}}
    </div>
  </div>
  {{md-btn text="Update" action="save"}} {{md-btn text="Cancel" action="cancel"}}

  <div class="delete">
    <div class="btn delete" {{action "confirmDeletion"}} title='Delete forever'><i class="material-icons">delete_forever</i></div>
  </div>

</div>

{{#if showDialog}}
  {{confirmation-dialog buttonText='Delete' text="Delete this stack?" closeDialog=(action 'closeDialog') action='delete' delete=(action 'delete')}}
{{/if}}
